__pycache__
.env
.idea
.python-version
.venv
.vscode
*.sqlite
/.coverage
/.pytest_cache
/.ruff_cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
